<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes Board</title>
</head>
<body>
    <h1>Notes Board</h1>

    <form id="noteForm">
        <label for="name">Name : </label><br>
        <input type="text" name="name" id="name" required><br><br>

        <label for="message">Message : </label><br>
        <textarea name="message" id="message" required></textarea><br><br>

        <button type="submit">Add Note</button>
    </form>

    <h2>Notes</h2>
    <ul id = "notesList"></ul>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>